{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Первый сайт на Django | {{ title }}</title>
    <link rel="stylesheet" href="{% static 'app_1/vars.css' %}">
    <link rel="stylesheet" href="{% static 'app_1/main.css' %}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
          integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
    />
    {% block custom_css %}
    {% endblock %}
    {% csrf_token %}
</head>
<body class="app-flex">
    <header class="app-flex">
        <div class="app-logo app-flex">
            <i class="fa-solid fa-film"></i>
            <h1>MyFirstFilmApp</h1>
        </div>
        <div class="auth-state app-flex">
            {% if user.is_authenticated %}
                <a class="auth-logout base-button app-flex" id="logout">
                    <i class="app-logo fa fa-lock"></i>
                    Выйти
                </a>
            {% else %}
                <a class="auth-register base-button app-flex" href="/">
                    <i class="app-logo fa fa-user-plus"></i>Регистрация
                </a>
                <a class="auth-login base-button app-flex" href="/admin/login/">
                    <i class="app-logo fa fa-unlock"></i>
                    Вход
                </a>
            {% endif %}
        </div>
    </header>
    <div class="app-content app-flex">
        <nav>
            <ol>
                <li>
                    <a class="app-flex" href="{% url 'app-main' %}">
                        <i class="app-logo fa fa-home"></i>
                        Главная
                    </a>
                </li>
                <li>
                    <a class="app-flex" href="{% url 'app-about' %}">
                        <i class="app-logo fa fa-address-book"></i>
                        О нас
                    </a>
                </li>
                <li>
                    <a class="app-flex" href="{% url 'app-genres' %}">
                        <i class="app-logo fa fa-book"></i>
                        Жанры
                    </a>
                </li>
            </ol>
        </nav>
        <main class="app-full-size">
        {% block content %}
        {% endblock %}
        </main>
    </div>
    <script src="{% static 'app_1/main.js' %}"></script>
    {% block custom_js %}
    {% endblock %}
</body>
</html>