<div class="app-genres">
    {% for genre in genres %}
        <a
            href="{% url 'app-genre-view' genre_id=genre.id %}"
            class="app-main-page__film app-pale"
        >
            <span>
                {{ genre.name }}
                <a href="{% url 'app-genre-edit' genre_id=genre.id %}"><i class="fa fa-pencil"></i></a>
                <a href="{% url 'app-genre-delete' genre_id=genre.id %}"><i class="fa fa-trash"></i></a>
            </span>
        </a>
    {% endfor %}
</div>