<div class="app-films">
    {% for film in films %}
        <a
            href="{% url 'app-film-view' film_id=film.id %}"
            class="app-main-page__film app-pale"
        >
            <span>
                {{ film.name }}
                <a href="{% url 'app-film-edit' film_id=film.id %}"><i class="fa fa-pencil"></i></a>
                <a href="{% url 'app-film-delete' film_id=film.id %}"><i class="fa fa-trash"></i></a>
            </span>
        </a>
    {% endfor %}
</div>